@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
/* .dcard1{
    border:3px solid rgb(104, 101, 101);
} */
.b{
    background-color: rgb(199, 197, 197);
}
.dcard2:hover{
    box-shadow: 5px 5px 5px rgb(117, 117, 117);
    transform: scale(0.95);

}
.dhead1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
}
.dpara{
    text-align: center;

}
#box1{
    
}
.dhead2{
    font-size: 20px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* .dcard2{
    border:3px solid rgb(104, 101, 101);
} */
.btn{
    border: none;
  outline: 0;
  /* padding: 12px; */
  color: white;
  background-color: rgb(104, 101, 101);
  text-align: center;
  cursor: pointer;
  /* width: 100%; */
  font-size: 18px;
  margin-left: 105px;
}
.btn:hover{
    opacity: 0.7;
    color: black;
}
.img1{
    margin-top: 70px;
    margin-left: 40px;
}
.cont1{
    margin-top: 70px;
    
    
}
.p1{
    font-weight: bold;
}
.cardimg1{
    background: url('./img/c1.jpg');
    width: 300px;
    height: 500px;
    background-position: center;
    background-size: cover;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.cardimg1:hover{
    background:url('./img/c11.jpg');
    background-position: center;
    background-size: cover;
    
}

.cardimg2{
    background: url('./img/c2.jpg');
    width: 300px;
    height: 500px;
    background-position: center;
    background-size: cover;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.cardimg2:hover{
    background:url('./img/c22.jpg');
    background-position: center;
    background-size: cover;
    
}

.box1{
    margin-top: 80px;
    padding-left: 80px;
}
.inp1{
    width: 100px;
}
         
.btn-grad {
    background-image: linear-gradient(to right, #403B4A 0%, #E7E9BB  51%, #403B4A  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    width: 300px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  .cardimg3{
    background: url('./img/c6.jpg');
    width: 300px;
    height: 500px;
    background-position: center;
    background-size: cover;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.cardimg3:hover{
    background:url('./img/c66.jpg');
    background-position: center;
    background-size: cover;
    
}
.cardimg4{
    background: url('./img/c3.jpg');
    width: 300px;
    height: 500px;
    background-position: center;
    background-size: cover;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.cardimg4:hover{
    background:url('./img/c33.jpg');
    background-position: center;
    background-size: cover;
    
}
.cardimg5{
    background: url('./img/c7.png');
    width: 300px;
    height: 500px;
    background-position: center;
    background-size: cover;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.cardimg5:hover{
    background:url('./img/c77.jpg');
    background-position: center;
    background-size: cover;
    
}
.cardimg6{
    background: url('./img/c4.jpg');
    width: 300px;
    height: 500px;
    background-position: center;
    background-size: cover;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.cardimg6:hover{
    background:url('./img/c44.jpg');
    background-position: center;
    background-size: cover;
    
}
.cardimg7{
    background: url('./img/c8.jpg');
    width: 300px;
    height: 500px;
    background-position: center;
    background-size: cover;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.cardimg7:hover{
    background:url('./img/c88.jpg');
    background-position: center;
    background-size: cover;
    
}
.cardimg8{
    background: url('./img/c99.jpg');
    width: 300px;
    height: 500px;
    background-position: center;
    background-size: cover;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.cardimg8:hover{
    background:url('./img/c9.jpg');
    background-position: center;
    background-size: cover;
    
}
.cardimg9{
    background: url('./img/c10.jpg');
    width: 300px;
    height: 500px;
    background-position: center;
    background-size: cover;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.cardimg9:hover{
    background:url('./img/c100.jpg');
    background-position: center;
    background-size: cover;
    
}
.cardimg10{
    background: url('./img/c101.jpg');
    width: 300px;
    height: 500px;
    background-position: center;
    background-size: cover;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.cardimg10:hover{
    background:url('./img/c1001.jpg');
    background-position: center;
    background-size: cover;
    
}
.cardimg11{
    background: url('./img/c102.png');
    width: 300px;
    height: 500px;
    background-position: center;
    background-size: cover;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.cardimg11:hover{
    background:url('./img/c1022.jpg');
    background-position: center;
    background-size: cover;
    
}
.cardimg12{
    background: url('./img/c103.jpg');
    width: 300px;
    height: 500px;
    background-position: center;
    background-size: cover;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.cardimg12:hover{
    background:url('./img/c1033.jpg');
    background-position: center;
    background-size: cover;
    
}
.head1{
    
    font-family: 'Dancing Script', cursive;
}
         
.btn-grad {
    background-image: linear-gradient(to right, #616161 0%, #9bc5c3  51%, #616161  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
  
 